* {
    font-family: Roboto;
}

.header {
    background-color: #1f2937;
    padding: 60px;
    border: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.first .right {
    color: #F9FAF8;
    font-size: 24px;
}

.first {
    display: flex;
    justify-content: space-around;
}

.hero {
    font-size: 48px;
    font-weight: 900px;
    max-width: 300px;
    color: #F9FAF8;
}

.subtext {
    font-size: 18px;
    max-width: 300px;
    color: #E5E7EB;
}
.second {
    display: flex;
    justify-content: space-around;
}

img {
    margin-top: 60px;
}

button {
    background-color: #3882f6;
    border-radius: 5px;
    border: 0px;
}