* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    background-color: #1f2937;
    padding: 60px;
    border: 0px;
    margin: 0px;
}

body {
    margin: 0;
    border: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 300;
}

.header-link-ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-top: 28px;
}

.first .right {
    color: #F9FAF8;
    font-size: 24px;
}

.first {
    display: flex;
    justify-content: space-around;
}

.hero {
    font-size: 48px;
    font-weight: 900px;
    max-width: 300px;
    color: #F9FAF8;
}

.subtext {
    font-size: 18px;
    max-width: 300px;
    color: #E5E7EB;
}

.second {
    display: flex;
    justify-content: space-around;
}

.image {
    margin-top: 60px;
}

#one {
    background-color: #3882f6;
    color: #F9FAF8;
    border-radius: 5px;
    border: 0px;
    padding: 6px;
}

.random {
    font-size: 48px;
    font-weight: 900px;
    text-align: center;
}

.image-1 {
    border: 3px solid #3882f6;
    border-radius: 15px;
}

.container {
    display: flex;
    justify-content: center;
}

.item {
    display: flex;
}

.under-image-ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.under-image {
    width: 100px;
    color: #1f2937;
    font-size: 18px;
    font-weight: 300;
}

ul {
    list-style-type: none;
}

.quote {
    background-color: #E5E7EB;
    padding: 16px;
    margin: 64px;
    margin-left: 0;
    margin-right: 0;
}

.quote-para {
    font-size: 36px;
    font-weight: 300;
    text-align: center;
}

.quote-author {
    font-size: 18px;
    font-weight: 900;
    text-align: end;
}

.blue-section {
    background-color: #3882f6;
    color: #F9FAF8;
    margin: 128px;
    padding: 32px;
    display: flex;
    border-radius: 10px;
    justify-content: center;
}

.blue-section-para {
    font-weight: 900;
    font-size: 18px;
}

.blue-section-quote {
    font-weight: 300;
    font-size: 18px;
    width: 240px;
}

.footer {
    background-color: #1f2937;
    color: #F9FAF8;
    padding: 16px;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
}

#two {
    display: flex;
    align-self: flex-end;
    background-color: #3882f6;
    color: #F9FAF8;
    border-radius: 5px;
    margin-bottom: 60px;
    margin-left: 60px;
}

.all{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}